.presentation-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.presentation {
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap-reverse;
  justify-items: center;
}

.presentation-container .presentation > img {
  height: 250px; !important
}

.pr {
  max-width: 600px;
}

.projects-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); /* Ajusta los valores mínimos y máximos según tus necesidades */
  align-items: start;
  justify-items: center;
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
}

.project-card{
  width: 430px;
  box-shadow: 0 0 15px #0003;
  border-radius: 20px;
}
.projects-container .project-card .project-image > img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 100%;
  object-fit: cover;
}

.project-image{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 300px;
}

.project-card-info{
  background-color: #fff7;
  display: grid;
  border-radius: 0 0 20px 20px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: "title github" "description description";
  padding: 16px;
  gap: 16px;
}

.project-card-info > h3 {
  grid-area: title;
  font-weight: 800;
  font-size: 1.5rem;
}

.project-card .project-card-info > a > img {
  grid-area: github;
  height: 30px;
}

.project-description{
  grid-area: description;
}
