$ancho: 90vw;
$color-bg: #fff6;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700;800&display=swap");

:root{
  font-family: "Manrope", sans-serif;
}

body {
  min-height: 100svh;
  background: url(../img/bg.jpg) no-repeat;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 2.5vw 6vw;
  background-size: cover;
}

nav, main{
  padding: 0 9vw;
}

button{
  border: none;
  font-size: 1rem;
  font-weight: 550;
  padding: .7rem 1.2rem;
  border-radius: 1rem;
  background-color: #fff;
}

nav{
  background-color: $color-bg;
  backdrop-filter: blur(4px);
  border-radius: 10px 10px 0 0;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: min(3vw, 50px) 9vw;

  .logo {
    font-size: 32px;
    font-weight: 900;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vw;
    ul {
      list-style: none;
      display: flex;
      gap: 3rem;

      a{
        color: #000;
        font-weight: 700;
      }
    }
  }
}

main{
  background-color: $color-bg;
  .presentation-container{
    height: calc(100svh - 100px - 2.5vw);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    img {
      height: 300px;
      margin-bottom: 4rem;
    }

    .presentation {
      max-width: 600px;
      min-height: 300px;
      h1 {
        font-size: 1.6rem;
        font-weight: 500;
      }
      h2 {
        font-size: 2.1rem;
        font-weight: 900;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
      button{
        background-color: #000;
        a {
          color: #fff;
        }
      }
    }
  }

}

