$ancho: 90vw;
$color-bg: #fff6;

body {
  min-height: 100svh;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 50px;
}

nav{
  background-color: $color-bg;
  border-radius: 10px 10px 0 0;
  position: sticky;
  height: 100px;
  border: 1px solid red;
}

main{
  background-color: $color-bg;

  .presentation-container{
    height: calc(100svh - 150px);
  }

}

